#zact{
	border-radius: 50px;
}

.clould{
	display: flex;
	flex-wrap: wrap;
	margin-left: 60px;
}

.free-shipping,.secured,.lovehelp{
	img{
		border-radius: 5px;
		box-shadow: 1px 2px 1px;
		
	}

border-radius: 15px;
width:400px;
height:150px;
margin: 20px;
align-items: center;
padding: 4px;
box-shadow: inset 1px 2px 7px grey;
}

#ep1{
	text-transform: capitalize;
}
#ep2{
text-size:1rem;
color:rgb(235, 156, 156);
}